body {
  font-family: sans-serif;
  margin: 0;
}

header {
  width: 100%;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-bottom: 1px rgb(200, 200, 200) solid;
}

header nav .menu {
  display: flex;
  align-items: center;
  height: 50px;
}

header nav .menu .logo {
  display: flex;
  border-right: 1px rgb(200, 200, 200) solid;
  width: 13vw;
  height: 50px;
  align-items: center;
  justify-content: center;
}

header nav .menu .logo h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

header nav ul .borda {
  border-right: 1px rgb(200, 200, 200) solid;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(160, 160, 160);
  padding: 17px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}

header nav .icones a {
  border-left: 1px rgb(200, 200, 200) solid;
  padding: 16px 20px;
}

header nav .icones i {
  color: rgb(160, 160, 160);
}

main {
  display: flex;
  background-color: #f4f4f4;
  padding: 5vw 10vw 2vw 10vw;
}

#left {
  margin-right: 50px;
  width: 22vw;
}

#left .apresentacao {
  padding-bottom: 50px;
  border-bottom: 1px rgb(200, 200, 200) solid;
}

#left .apresentacao .titulo {
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 8px;
  font-weight: 1000;
}

#left .apresentacao .logo img {
  clip-path: polygon(5% 25%, 50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%);
  width: 70px;
}

#left .apresentacao h3 {
  color: rgb(160, 160, 160);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px;
}

#left .apresentacao h3 a {
  color: rgb(160, 160, 160);
}

#left .portfolio {
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px rgb(200, 200, 200) solid;
}

#left .portfolio .bloco {
  border: 1px rgb(200, 200, 200) solid;
  background-color: white;
  margin-bottom: 30px;
}

#left .portfolio .bloco .foto img {
  width: 100%;
}

#left .portfolio .bloco .descricao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

#left .portfolio .bloco .descricao h2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#left .portfolio .bloco .descricao h4 {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(160, 160, 160);
}

#left .portfolio .bloco .descricao .perfil img {
  clip-path: circle(50% at 50% 50%);
}

#left .postagem {
  padding-top: 20px;
}

#left .postagem .bloco {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px rgb(200, 200, 200) solid;
}

#left .postagem .bloco img {
  height: 60px;
  max-width: 60px;
  padding: 0 10px;
  object-fit: cover;
}

#left .postagem .bloco .descricao h3 {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#left .postagem .bloco .descricao h4 {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(160, 160, 160);
}

#left .about {
  padding: 30px 0;
  border-bottom: 1px rgb(200, 200, 200) solid;
}

#left .about h2 {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
}

#left .about h3 {
  font-size: 12px;
  line-height: 18px;
  color: rgb(125, 125, 125);
  line-height: 20px;
}

#left .about .learn {
  padding: 30px 20px 10px 20px;
}

#left .about .learn a {
  font-size: 10px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

#left .icones i {
  padding-top: 50px;
  padding-right: 20px;
  color: rgb(200, 200, 200);
}

#left .untitled {
  padding-top: 30px;
  color: rgb(200, 200, 200);
  font-size: 7px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#right {
  width: 55.2vw;
}

#right article {
  background-color: white;
  border: 1px rgb(200, 200, 200) solid;
  margin-bottom: 45px;
}

#right .topo {
  display: flex;
  border-bottom: 1px rgb(200, 200, 200) solid;
}

#right .topo .titulo {
  width: 70%;
  padding: 40px;
}

#right .topo .titulo h1 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 1000;
}

#right .topo .titulo h2 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgb(125, 125, 125);
}

#right .topo .perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 30%;
  border-left: 1px rgb(200, 200, 200) solid;
  padding: 30px;
  text-align: center;
}

#right .topo .perfil h3 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 1000;
}

#right .topo .perfil .nome {
  display: flex;
  align-items: center;
  justify-content: center;
}

#right .topo .perfil .nome h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#right .topo .perfil .nome h2 a {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  /* text-decoration: none; */
  color: rgb(125, 125, 125);
  padding-right: 15px;
  margin-top: 0;
}

#right .topo .perfil .nome img {
  clip-path: circle(50% at 50% 50%);
}

#right .elemento {
  padding: 50px;
}

#right .elemento .principal img {
  width: 100%;
}

#right .elemento .descricao {
  padding-top: 30px;
}

#right .elemento .descricao h3 {
  font-size: 15px;
  font-weight: lighter;
  line-height: 30px;
  color: rgb(90, 90, 90);
}

#right .elemento .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#right .elemento .bottom .continue {
  padding-left: 30px;
}

#right .elemento .bottom .continue h2 a {
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

#right .elemento .bottom .option {
  display: flex;
  align-items: center;
  justify-content: center;
}

#right .elemento .bottom .option h3 a {
  text-transform: uppercase;
  color: rgb(160, 160, 160);
  font-size: 12px;
  letter-spacing: 3px;
}

#right .elemento .bottom .option h3 {
  padding-right: 20px;
}

#right .elemento .bottom .option .icon a {
  text-decoration: none;
  color: rgb(160, 160, 160);
  padding: 0 20px;
  border-left: 1px rgb(200, 200, 200) solid;
  font-size: 12px;
}

#right .elemento .bottom .option .icon i {
  color: rgb(200, 200, 200);
  padding-right: 10px;
  font-size: 12px;
}

footer {
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

footer .page {
  padding: 5px 40px;
}

footer .page a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

footer .page a i {
  padding: 0 10px;
  color: rgb(160, 160, 160);
}

footer .prev a {
  color: rgb(160, 160, 160);
}
